<%= form_for(@review) do |f| %>
<%
RakutenWebService.configuration do |c|
  c.application_id = ENV["APPID"]
  c.affiliate_id = ENV["AFID"]
end
if params[:isbn] then
  @books = RakutenWebService::Books::Book.search(:isbn => params[:isbn])
  @book = @books.first
  @review.isbn = @book.isbn
  @review.title = @book.title
  @review.auther = @book.author
end
%>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :auther %><br>
    <%= f.text_field :auther %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_field :review %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
