<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @review.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Auther:</strong>
  <%= @review.auther %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <img src="<%= @review.image_url %>">
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
